#OpenVino-Test requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
openvino
numba
opencv-python
opencv-contrib-python
